


/* ADMIN */

.block-local-tasks-block {
	font-size: .85em;
}

.block-local-tasks-block li {
	margin-right: 0;
}

#block-masquerade,
#block-adminmenu {
  -moz-box-shadow: 2px 2px 3px #7f7f7f;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
  border-radius: 2px;
	margin: 30px;
	background-color: white;
	padding: 1em;
	display: inline-block;
	min-width: 300px;
	vertical-align: top;
}

.region-content #block-adminmenu ul li {
	clear: right;
	display: block;
	list-style: circle;
}





.user-login-form {
	margin-left: 50px;
	margin-top: 120px;
}
