

/* CONTEST - Full */


body.page-node-type-webform {
	padding-top: 120px;
}


body.page-node-type-webform.toolbar-tray-open {
	padding-top: 160px!important;	
}


body.page-node-type-webform #block-snowseekers-v1-page-title {
	display: none;
}

node--type-webform.node--view-mode-full {
  width: 90%;
	margin: 2em;
	background-color: white;
	border: 1px solid silver;
	-moz-box-shadow: 2px 2px 3px #7f7f7f;
	box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
	border-radius: 2px;	
}


@media screen and (min-width: 560px) {
	body.page-node-type-webform {
		padding-top: 79px;
	}
}


@media screen and (min-width: 922px) {
	.node--type-webform.node--view-mode-full {
	  width: 800px;
		margin: 2em;
		background-color: white;
		border: 1px solid silver;
		-moz-box-shadow: 2px 2px 3px #7f7f7f;
		box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
		border-radius: 2px;	
	}
}

.node--type-webform.node--view-mode-full img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid silver;

}

.node--type-webform.node--view-mode-full .field--name-field-media-logo img {
	border-bottom: none;
}

.node--type-webform.node--view-mode-full .container-inner {
	padding: 35px;
}

.node--type-webform.node--view-mode-full .field--name-node-title h2 {
	margin-before: 0;
	margin: 0 0 15px;
}


.node--type-webform.node--view-mode-full .field--name-webform {
	width: 85%;
	margin: 15px auto;
	border: 1px solid #1B5677;
	padding: 15px;
	background-color: #cfdbdd;
}

.node--type-webform.node--view-mode-full .field--name-webform #edit-submit {
  color: white;
  background-color: #1B5677;
  padding: 4px 6px;
  font-size: .75em;
	border: 1px solid black;
}

.node--type-webform.node--view-mode-full fieldset {
	width: 85%;
	margin-right: auto;
	margin-left: auto;
}

.node--type-webform.node--view-mode-full .field--name-field-text-rules {
	font-size: 10px;
}


.node--type-webform form input {
	vertical-align: top;
}

.node--type-webform .form-type-checkbox .description {
	margin-left: .5em;
}

.node--type-webform form div.description {
	display: inline-block;
	width: 85%;
	vertical-align: top;
}

.node--type-webform form div.description p {
  margin: 0px;
}

.node--type-webform input {
	max-width: 100%;
}

