

/* MEDIA */

body.path-media .layout-container {
  margin-top: 84px;
}

body.path-media .media--view-mode-full {
	width: 960px;
	margin: 30px auto auto;
  background: white;
	border: 1px solid silver;
	padding: 30px;
}


body.path-media .media--view-mode-full .field field--name-field-image-category {
	margin-bottom: 20px;	
}

body.path-media .media--view-mode-full .field--name-field-image-category {
	margin-bottom: 20px;
}

body.path-media .media--view-mode-full .field--type-entity-reference {
	clear: both;
	display: block;
	margin-bottom: 20px;
}

body.path-media .media--view-mode-full .field--label-above .field__label {
	display: inline-block;
	width: 120px;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

body.path-media .media--view-mode-full .field--label-above .field__items,
body.path-media .media--view-mode-full .field--label-above .field__item {
	display: inline-block;	
}


body.path-media .field--name-field-media-image {
	margin-left: 30px;
}

body.path-media .field--name-field-media-image img {
  width: 100%;
  height: auto;
}









/* VIDEO - Full */

body.path-media .block-page-title-block {
	display: none;
}

.path-media .media--type-video.media--view-mode-full {
  width: 600px;
	margin: 2em;
	background-color: white;
	border: 1px solid silver;
	-moz-box-shadow: 2px 2px 3px #7f7f7f;
	box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
	border-radius: 2px;	
}

.path-media .media--type-video.media--view-mode-full .video-embed-field-responsive-video {
	border-bottom: 1px solid silver;	
}

.path-media .media--type-video.media--view-mode-full .block-page-title-block {
	display: none;
}

.path-media .media--type-video.media--view-mode-full .container-inner {
	background-color: white;
	padding: 30px;
}





/* VIDEO - Teaser */

.view-videos li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.view-videos .media--view-mode-teaser {
  width: 400px;
	margin: 1em;
  background-color: white;
  border: 1px solid silver;
  -moz-box-shadow: 2px 2px 3px #7f7f7f;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
  border-radius: 2px;	
}

.view-videos .media--view-mode-teaser .field--name-field-media-video-embed-field img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid silver;	
}

.view-videos .media--view-mode-teaser .container-inner {
	background-color: white;
	padding: 22px;
}


.view-videos .media--view-mode-teaser .field--name-name a {
	font-weight: bold;
	color: #1B5677;
}

.view-videos .media--view-mode-teaser .field--name-field-media-teaser p {
	font-size: .8em;
}





/* VIDEO - Teaser */
.media-video.view-mode-embed {
	min-height: 250px;
	display: block;
}

.media-video.view-mode-embed iframe {
	max-width: 100%;
}



.media--view-mode-intro .field--name-field-media-image div,
.media--type-image.media--view-mode-intro .field--name-field-media-image {
	height: 550px;
  background: center / cover no-repeat transparent;
  background-size: cover;	
}


/* MEDIA - Photographer Credits */

.field--name-field-media-image .media--type-image,
.field--name-field-media-image-intro .media--type-image,
.media--view-mode-embed .media--type-image,
.media--view-mode-intro .media--type-image {
	position: relative;
}

.media--type-image .field--name-field-tag-creator {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: black;
  background: rgba(24, 75, 104, 0.75);
	color: white;
	font-size: 10px;
	padding: 3px 3px 3px 8px;	
}

.media--type-image .field__label {
	font-weight: normal;
}
