/* NAV - General */

ul.menu {
	margin: 0;
	padding: 0;
}

ul.menu li {
	list-style: none;
	display: inline-block;
}




/* NAV - Main */


header {
  background: rgba(27, 86, 119, 0.87);
  height: 105px;	
  padding: 0em;
  position: fixed;
  top: 0;
	width: 100%;
  border-bottom: 1px solid #184b68;
  z-index: 1;
  -moz-box-shadow: 2px 2px 3px #7f7f7f;
  box-shadow: 0 3px 10px rgba(0,0,0,.23), 0 3px 10px rgba(0,0,0,.16);
  border-radius: 2px;
}

@media screen and (min-width : 560px){
  header {
    height: auto;	
  }
}


body.toolbar-fixed header {
  position: fixed;
	top: 39px;
}

body.toolbar-tray-open.toolbar-vertical header {
  position: fixed;
	top: 39px;
}

body.toolbar-tray-open.toolbar-horizontal header {
  position: fixed;
	top: 79px;
}






.block-menu.navigation.menu--main,
#block-snowseekers-v1-main-menu {
 	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
}

.block-menu.navigation.menu--main li,
#block-snowseekers-v1-main-menu li {
	padding-bottom: .25em;
	width: auto;
	text-align: center;
}


.block-menu.navigation.menu--main li a,
#block-snowseekers-v1-main-menu li a {
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
	margin-left: .5em;
	margin-right: .5em;
	color: white;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
	padding-bottom: 5px;
}



.block-menu.navigation.menu--main .menu-item--active-trail a,
#block-snowseekers-v1-main-menu .menu-item--active-trail a {
	border-bottom: 1px solid #78A2AB;	
}

.block-menu.navigation.menu--main  li a:hover,
#block-snowseekers-v1-main-menu li a:hover {
	border-bottom: 2px solid red;
}


@media screen and (min-width : 560px){
  .block-menu.navigation.menu--main,
  #block-snowseekers-v1-main-menu {
	  margin-left: 30px;
  	margin-top: 24px;
  	display: inline-block;
  	clear: none;
  }

	.block-menu.navigation.menu--main  li a,
	#block-snowseekers-v1-main-menu li a {
		font-size: 16px;
		margin-left: .75em;
		margin-right: .75em;
	}

}

@media screen and (min-width : 760px){
  .block-menu.navigation.menu--main,
  #block-snowseekers-v1-main-menu {
	  margin-left: 30px;
  	margin-top: 18px;
  	display: inline-block;
  	clear: none;
  }
}

@media screen and (min-width : 960px){

  .block-menu.navigation.menu--main,
  #block-snowseekers-v1-main-menu {
	  margin-left: 50px;
  	margin-top: 28px;
  	display: inline-block;
  	clear: none;
  }

	.block-menu.navigation.menu--main li a,
	#block-snowseekers-v1-main-menu li a {
		font-size: 17px;
		margin-left: 1.25em;
		margin-right: 1.25em;
	}

}












































/* EE Nav */





/* Main Nav  */

.header .nav-toggle {
	display: inline-block;
	color: white;
	font-size: 32px;
	padding-left: 14px;
	padding-top: 0px;
}

.header .nav-toggle a {
	color: white;
	font-size: 32px;
}

ul.nav-main {
	padding: 0;
	margin: 0;
  _background-color: rgba(255, 255, 255, 0.95);
  background-color: rgba(0, 0, 0, 0.6);
  width: 0px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	top: 72px;
	position: fixed;
	-webkit-transition: width .4s; /* Safari */
  transition: width .4s;
  overflow: hidden;
	display: inline-block;
	left: 0;
}

/* General */

ul.nav-main a {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

ul.nav-main li {
  list-style: none;
  vertical-align: top;
  overflow: visible;
}

ul.nav-main.responsive-show {
	width: 200px;
	position: fixed;
	left: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

/* Main Nav  - Responsive*/

@media only screen and (min-width: 768px) {
	.header .nav-toggle a {
		font-size: 40px;
	}

	ul.nav-main {
		top: 80px;
	}

}

@media only screen and (min-width: 922px) {
	.header .nav-toggle {
		display: none;
	}

  ul.nav-main {
	  display: inline-block;
	  width: auto;
    position: fixed;
  	top: 0;
  	left: 310px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    overflow: visible;
  	margin-top: 20px;
  }

	ul.nav-main.responsive-show {
    position: fixed;
  	top: 0;
		width: auto;
  	left: auto;
    border-top: none;
    border-right: none;
    border-bottom: none;

	}

}




/* Main Nav - Links  */


ul.nav-main li.nav-item {
	list-style: none;
	margin: 0;
	padding: 0;
}


ul.nav-main li.nav-item a.nav-link {
	font-size: 17px;
	font-weight: 500;
	padding-bottom: 10px;
	padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
	margin: 0;
}

ul.nav-main li.nav-item:hover a.nav-link {
  background-color: rgba(40, 40, 40, .95);
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;

}

/* Main Nav - Links Responsive  */

@media only screen and (min-width: 922px) {

	ul.nav-main li.nav-item {
    float: left;
    overflow: visible;    
  }

	ul.nav-main li.nav-item a.nav-link {
    background-color: transparent;
	 	font-size: 1.2em;
	  color: white;
	  padding-bottom: 18px;
  	padding-top: 19px;
    padding-right: 10px;
    padding-left: 10px;
		display: inline-block;
	}

	ul.nav-main li.nav-item:hover a.nav-link {
	}

}





/* Sub Nav  */

ul.nav-main li.parent {
}

ul.nav-main li.parent ul.sub-nav {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: transparent;
	overflow: visible;
}

ul.nav-main li.parent ul.sub-nav {
   background-color: transparent;
  _background-color: rgba(255, 255, 255, 0.85);
  -webkit-transition: background-color .5s ease-out;
  _-moz-transition: background-color .5s ease-out;
  _-o-transition: background-color .5s ease-out;
  _transition: background-color .5s ease-out;
}

ul.nav-main li.parent:hover ul.sub-nav {
	top: 60px;
}


/* Sub Nav  - Links */

ul.nav-main li.nav-item.parent:hover a {

}

ul.nav-main .sub-nav li.sub-nav-item {
	padding-left: 0px;
	padding-right: 0px;
	position: relative;
	width: 100%;
  display: block;
}

ul.nav-main .sub-nav li.sub-nav-item a.sub-nav-link {
 	font-size: 14px;
	color: white;
	font-weight: 500;
	padding: 10px 10px 10px 25px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
	margin: 0;
  _background-color: rgba(40, 40, 40, .95);
  white-space: nowrap;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 921px) {

	ul.nav-main .sub-nav li.sub-nav-item a.sub-nav-link {
	  display: block;
	}
	
	ul.nav-main .sub-nav li.sub-nav-item a.sub-nav-link:hover {
	  background-color: rgba(60, 60, 60, .95);	
	}

}


_ul.nav-main li.parent:hover .sub-nav li.sub-nav-item a.sub-nav-link {
	border-top: 1px solid gray;
	border-bottom: 1px solid silver;
  display: block;
}

@media only screen and (min-width: 922px) {

  ul.nav-main .sub-nav {
    position: relative;
  	top: -1px;
  	display: none;
  }

	ul.nav-main li.parent:hover ul.sub-nav {
    position: relative;
	  top: -1px;
	}

	ul.nav-main .sub-nav li.sub-nav-item {
		padding-left: 0px;
		padding-right: 0px;
		position: absolute;
		width: auto;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	ul.nav-main li.parent .sub-nav li.sub-nav-item a.sub-nav-link {
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		padding-right: 15px;
		padding-left: 15px;
    background-color: rgba(40, 40, 40, .95);	
	}

	ul.nav-main li.parent:hover .sub-nav li.sub-nav-item a.sub-nav-link {
  	display: block;
		padding-left: 10px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	ul.nav-main .sub-nav li.sub-nav-item {
	  position: absolute;
	}


}










/* Sub Nav - Links Responsive */

@media only screen and (min-width: 922px) {

	ul.nav-main li.nav-item.parent .sub-nav {
	  display: block;

	}

	ul.nav-main li.nav-item.parent:hover .sub-nav {
	  display: block;
	}

}

@media only screen and (min-width: 922px) {
}


@media only screen and (min-width: 1224px) {
}







body.path-event .navbar-fixed,
body.path-event footer {
  display: none;		
}



div.nav-footer {
	display: inline-block;
	vertical-align: top;
	float: none;
	position: relative;
	right: 0;
	margin: 2em;
}

.nav-footer h5 a {
	font-size: 1.5em;
	font-weight: normal;
	padding: 0 0 10px;
	margin: 0;
	font-style: normal;
	display: block;
}

.nav-footer ul {
	padding-left: 0;
}

.nav-footer ul.nav-footer {
	border-top: 1px solid #cccccc;
	padding-top: 5px;
	margin-top: 0;
}

.nav-footer li {
	list-style: none;
}

.nav-footer li.nav-item {
	list-style: none;
	padding-bottom: 13px;
}


.nav-footer li ul {
	padding-left: 20px;
}


.nav-footer li.nav-item a {
	font-size: 1.2em;
}

.nav-footer li.sub-nav-item a {
	font-size: .95em;
}

