

/* PARTNER - Embed */

body.page-node-type-webform .field--name-field-ref-partner.field__items {
	width: 90%;
	border: 1px solid silver;
	background-color: white;
	text-align: center;
	margin-bottom: 2em;
	margin-left: auto;
	padding: 1em;
	margin-right: auto;
}

body.page-node-type-webform .field--name-field-ref-partner.field__items .field__item {
	display: inline-block;
	text-align: center;	
	display: inline-block;
	width: 60%;
	margin: 1em auto;
}

body.page-node-type-webform .field--name-field-ref-partner.field__items .field__item .field__item {
  width: 100%;
  margin: 0;
  display: block;
}

body.page-node-type-webform .field--name-field-ref-partner .field--name-field-link-website {
	width: 100%;
	text-align: center;
	margin-bottom: 2em;
	display: block;
}

	body.page-node-type-webform .field--name-field-ref-partner .field--name-field-link-website a {
	font-size: .75em;
	font-weight: bold;
}

	body.page-node-type-webform .field--name-field-ref-partner .field--name-field-media-logo {
}

	body.page-node-type-webform .field--name-field-ref-partner .field--name-field-media-logo img {
	width: 100%;
	height: auto;
}

@media screen and (min-width : 620px) {
	body.page-node-type-webform .field--name-field-ref-partner.field__items .field__item {
		display: inline-block;
		width: 28%;
		margin-left: 2%;
		margin-right: 2%;
	}
}
